
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  max-width: 100%;
  position: relative;
border: 2px solid red;
}
.headimg{
  width: 100%;
  position: relative;
border:  1px solid blue;  
}
.headimg img{
  width: 100%;
}
.navbar-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
height: 86px;
  
}
.mainhead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  border: 2px solid green;

}

.mainhead.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;     
  margin: 0 auto;        
  padding: 10px 20px;
  color: white;
  width: 100%;
  border: 2px solid blueviolet;
}

.logo{
  border:1px solid greenyellow;
  width: 104px;
  cursor: pointer;
}
.logo :hover{
  color: rgba(65, 95, 255, .73);
}
.brgmenu{
 font-size:28px;
  cursor: pointer;
}
.menu{
  border: 1px solid orange;
}
  
.menu ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px;
  gap:30px;
  font-size: 14px;
  
}
.menu ul li:hover{
   color: rgba(65, 95, 255, .73);
   cursor: pointer;
}

.icons{
  border: 1px solid palevioletred;
  display: flex;
align-items: center;
gap: 35px;
}

.icon{
  width: 28px;
  height: 28px;
  cursor: pointer;
}
@media(max-width:1197px){
.menu{
  display: none;
}
}
